<div class="col-md-4">
  <div class="monsterPics"><%= image_tag "monster_bat.jpg", :size => '200x180' %></div>
  <button class="name">Bob</button>
</div>

<div class="col-md-4">
  <div class="monsterPics"><%= image_tag "monster_bigfoot.jpg", :size => '200x180' %></div>
  <button class="name">Frank</button>
</div>

<div class="col-md-4">
  <div class="monsterPics"><%= image_tag "monster_elephant.jpg", :size => '200x180' %></div>
  <button class="name">Anita</button>
  </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br>

<div class="col-md-4">
  <div class="monsterPics"><%= image_tag "monster_elephant.jpg", :size => '200x180' %></div>
  <button class="name"> Sean's Banana</button>
  </div>
<div class="col-md-4">
  <div class="monsterPics"><%= image_tag "monster_bat.jpg", :size => '200x180' %></div>
  <button  class="name">Pedro</button>
</div>

<div class="col-md-4">
  <div class="monsterPics"><%= image_tag "monster_bigfoot.jpg", :size => '200x180' %></div>
  <button class="name">Steve</button>
</div>


  <button class="battleStart">Let's butter this muffin.</button>