<div class="col-md-4">
  <div class="monsterPics"><%= image_tag "monster_bat.jpg", :size => '200x180' %></div>
  <button class="name" onclick="clicker()">Bob</button>
</div>

<div class="col-md-4">
  <div class="monsterPics"><%= image_tag "monster_bigfoot.jpg", :size => '200x180' %></div>
  <button class="name" onclick="clicker()">Frank</button>
</div>

<div class="col-md-4">
  <div class="monsterPics"><%= image_tag "monster_elephant.jpg", :size => '200x180' %></div>
  <button class="name" onclick="clicker()">Anita</button>
  </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br>

<div class="col-md-4">
  <div class="monsterPics"><%= image_tag "monster_elephant.jpg", :size => '200x180' %></div>
  <button class="name" onclick="clicker()"> Sean's Banana</button>
  </div>
<div class="col-md-4">
  <div class="monsterPics"><%= image_tag "monster_bat.jpg", :size => '200x180' %></div>
  <button  class="name" onclick="clicker()">Pedro</button>
</div>

<div class="col-md-4">
  <div class="monsterPics"><%= image_tag "monster_bigfoot.jpg", :size => '200x180' %></div>
  <button class="name" onclick="clicker()">Steve</button>
</div>


  <button class="battleStart">Let's butter this muffin.</button>