<div id="nav">
	<nav class="navbar navbar-default">
     	<div class="container-fluid">
    		<div class="navbar-header">
				<a class="navbar-brand" href="/">Monster Battle</a>
				<% if current_user %>
				  <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
				  <%= link_to "Logout", :logout, method: :post %>
				<% else %>
				  <%= link_to "Register", new_user_path %> |
				  <%= link_to "Login", new_user_session_path %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div>
	<p id="notice"><%= flash[:notice] %></p>
	<p id="alert"><%= flash[:alert] %></p>
</div>